html {
	font-family: Arial, Helvetica, sans-serif;
    text-align: left;
	background-color: rgba(254,255,231,1);
}

body {
	background-color: none;
	top: 0;
    position: relative;
}

a {
	text-decoration: none;
	color: white;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

#Main-Container {
	background-color: rgba(254,255,231,1);
	width: 1200px;
	height: 1100px;
	margin:0 auto;
}

#Head-Container {
	background-color: none;
	width: 1200px;
	height: 140px;
}

#Banner {
	background-image: url("Banner.jpg");
	width: 1200px;
	height: 100px;
}

#Nav-Bar {
	background-color: rgba(104,196,175,1);
	width: 1200px;
	height: 40px;
	margin: -10px -10px -10px 0px;
}

#Nav-Container {
	width: 800px;
	Height: 40px;
	background-color: none;
	float: left;
	margin: 0px 0px 0px 215px;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: rgba(104,196,175,1);
    color: white;
	height: 40px;
	width: 120px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,250,227,0.9);
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f7e7b4}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(150,234,215,1);
}

#Content-Container {
	background-color: rgba(247,231,180,1);
	width: 1000px;
	height: 750px;
	margin: auto;
} 

#NewsEvents {
	background-color: rgba(84,140,191,0.5);
	width: 980px;
	height: 300px;
	margin: 10px;
	float: left;
}

#NewsEvents2 {
	background-color: rgba(84,140,191,0.5);
	width: 450px;
	height: 400px;
	margin: 20px;
	float: left;
}

#NewsHeader {
	width: 450px;
	height: 40px;
	background-color: rgba(128,128,128,1);
	margin: -19px 0px 0px 0px;
	text-align: center;
}

#NewsContent {
	width: 430px;
	height: 330px;
	background-color: none;
	margin: 10px
}

#NewsEvents3 {
	background-color: rgba(84,140,191,0.5);
	width: 450px;
	height: 400px;
	margin: 20px;
	float: right;
}

#Footer {
	background-color: rgba(105,105,105,0.5);
	width: 1200px;
	height: 60px;
	margin: 150px 0px 0px 0px;
}

#Footer-Container {
	background-color: none;
	width: 1200px;
	height: 70px;
	margin: 10px 0px 0px 100px;
}

#Footer-BRO {
	background-color: none;
	width: 1000px;
	height: 30px;
	margin: 0px 0px 0px 0px;
	float: left;
	text-align: center;
}

#Footer-Contact {
	background-color: none;
	width: 300px;
	height: 30px;
	margin: -15px 0px 0px 0px;
	float: left;
	text-align: center;
}

#Footer-Link {
	background-color: none;
	width: 300px;
	height: 30px;
	margin: 6px 0px 0px 60px;
	float: left;
	text-align: center;
}

#Footer-Phone {
	background-color: none;
	width: 300px;
	height: 30px;
	margin: -15px 0px 0px 20px;
	float: left;
	text-align: center;
}